h1 {font-family: Georgia, 'Times New Roman', Times, serif; font-size:xx-large; color: dimgray; text-align: center;}
h2 {font-family: sans-serif; font-size: larger; color: gray;}
#styledImage {border: 7px solid rgb(95, 95, 95);}
p {font-family: serif; font-size: large; color: rgb(95, 95, 95); text-align: left; font-weight: bold;}
body {background-color:silver;}
